<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>480083621961-1ssab8sktf2in69h6il76675qpl9m5eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480083621961-1ssab8sktf2in69h6il76675qpl9m5eu</string>
	<key>API_KEY</key>
	<string>AIzaSyDal0Hkzag6YuHIFsxS6pS5WpZqfzKaodQ</string>
	<key>GCM_SENDER_ID</key>
	<string>480083621961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rolman.ITM</string>
	<key>PROJECT_ID</key>
	<string>fir-signuplogin-f5ead</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-signuplogin-f5ead.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480083621961:ios:15990d44e717fbad</string>
	<key>DATABASE_URL</key>
	<string>https://fir-signuplogin-f5ead.firebaseio.com</string>
</dict>
</plist>